<div class="modal fade" id="exampleModal3" tabindex="-1" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header ">
				<h5 class="modal-title">Edit Your Profile</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<label class="form-label">Email</label>
				<input type="email" class="form-control mb-3" placeholder="hello@gmail.com" id="exampleInputEmail7">
				<label class="form-label">Phone</label>
				<input type="number" class="form-control mb-3" id="exampleInputEmail88" placeholder="number">
				<label class="form-label">Date Of Birth</label>
				<input type="date" class="form-control mb-3" id="exampleInputEmail8">
				<label class="form-label">Position</label>
				<input type="text" class="form-control mb-3" placeholder="Computer Engineer" id="exampleInputEmail9">
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger light btn-sm" data-bs-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary btn-sm">Save changes</button>
			</div>
		</div>
	</div>
</div>
