@model ISO810_ComprasProject.Models.Proveedores

@{
    ViewData["Title"] = "Create";
}

<h1>Proveedores</h1>

<h4>Crear Proveedor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TipoDocumento" class="control-label"></label>
                <select asp-for="TipoDocumento" asp-items="ViewBag.TipoDocumento" class="form-control" id="tipoDocumento" ></select>
                <span asp-validation-for="TipoDocumento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cedula" class="control-label"></label>
                <input asp-for="Cedula" class="form-control" id="cedula" name="cedula" value="-" />
                <span asp-validation-for="Cedula" class="text-danger"></span>

            </div>
            <div class="form-group" style="display:none;">
                <label asp-for="RNC" class="control-label"></label>
                <input asp-for="RNC" class="form-control" id="rnc" name="rnc" value="-" />
                 <span asp-validation-for="RNC" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="NombreComercial" class="control-label"></label>
                <input asp-for="NombreComercial" class="form-control" />
                <span asp-validation-for="NombreComercial" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Activo" /> @Html.DisplayNameFor(model => model.Activo)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function() {
            function mostrarCampos() {
                var tipoDocumento = document.getElementById("tipoDocumento").value;
                var cedula = document.getElementById("cedula").parentElement;
                var rnc = document.getElementById("rnc").parentElement;

                if (tipoDocumento === "Cédula") {
                    cedula.style.display = "block";
                    rnc.style.display = "none";
                } else if (tipoDocumento === "RNC") {
                    cedula.style.display = "none";
                    rnc.style.display = "block";
                } else {
                    cedula.style.display = "none";
                    rnc.style.display = "none";
                }
                $("#cedula, #rnc").valid();
            }
            mostrarCampos();
            document.getElementById("tipoDocumento").addEventListener("change", mostrarCampos);
        });
    </script>


}

@section cp_style
                {
    <link href="~/cp/vendor/swiper/css/swiper-bundle.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.6.4/nouislider.min.css" rel="stylesheet">
    <link href="~/cp/vendor/datatables/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="~/cp/vendor/jvmap/jquery-jvectormap.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/buttons/1.6.4/css/buttons.dataTables.min.css" rel="stylesheet">
    <link href="~/cp/vendor/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <!-- tagify-css -->
    <link href="~/cp/vendor/tagify/dist/tagify.css" rel="stylesheet">
}

@section cp_script
{
    <!--**********************************
        Scripts
    ***********************************-->
    <script src="~/cp/vendor/global/global.min.js"></script>
    <script src="~/cp/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>

    <!-- Dashboard 1 -->
    <script src="js/dashboard/cms.js"></script>

    <!--nestable file-->
    <script src="~/cp/vendor/nestable2/js/jquery.nestable.min.js"></script>

    <!-- nestable plugins -->
    <script src="~/cp/js/plugins-init/nestable-init.js"></script>
    <script src="~/cp/js/custom.js"></script>
    <script src="~/cp/js/deznav-init.js"></script>
    <script src="~/cp/js/demo.js"></script>
    <script src="~/cp/js/styleSwitcher.js"></script>
    }