@model ISO810_ComprasProject.Models.OrdenCompras

@{
    ViewData["Title"] = "Edit";
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

<div class="content-body">
    <div class="page-titles">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-action="Index">
                    <i class="fas fa-file-invoice-dollar"></i>
                    Orden de Compras
                </a>
            </li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">Editar</a></li>
        </ol>
    </div>
    <div class="container-fluid">
        <div class="d-flex justify-content-end align-items-center mb-4">
            <div class="d-flex align-items-center">
                <a asp-action="Index" class="btn btn-info btn-sm ms-2"> <i class="fa fa-arrow-left"></i> Volver</a>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <form asp-action="Edit">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="CompraId" />
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="Fecha" class="control-label"></label>
                                        <input asp-for="Fecha" class="form-control" />
                                        <span asp-validation-for="Fecha" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="ArticuloId" class="control-label">Artículo</label>
                                        <select asp-for="ArticuloId" class="form-control" asp-items="ViewBag.ArticuloId"></select>
                                        <span asp-validation-for="ArticuloId" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Costo Unitario</label>
                                        <input id="CostoUnitario" class="form-control" asp-for="Articulo.CostoUnitario" readonly name="Articulo.CostoUnitario" />
                                        <span asp-validation-for="Articulo.CostoUnitario" class="text-danger"></span>

                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Cantidad" class="control-label"></label>
                                        <input asp-for="Cantidad" class="form-control" />
                                        <span asp-validation-for="Cantidad" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Costo Total</label>
                                        <input id="Monto" asp-for="Monto" class="form-control" readonly />
                                        <span asp-validation-for="Monto" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="UnidadMedidaId" class="control-label">Unidad de Medida</label>
                                        <select asp-for="UnidadMedidaId" class="form-control" asp-items="ViewBag.UnidadMedidaId"></select>
                                        <span asp-validation-for="UnidadMedidaId" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Estado" class="control-label"></label>
                                        <select asp-for="Estado" asp-items="Html.GetEnumSelectList<ISO810_ComprasProject.Models.EstadoCompra>()" class="form-control"></select>
                                        <span asp-validation-for="Estado" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="d-flex justify-content-end">
                                    <input type="submit" value="Guardar" class="btn btn-primary" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function() {
            var articulos = @Html.Raw(Json.Serialize(ViewBag.Articulos));
            function updateMonto() {
                var costoUnitario = parseFloat($('#CostoUnitario').val()) || 0;
                var cantidad = parseFloat($('#Cantidad').val()) || 0;
                var monto = costoUnitario * cantidad;
                $('#Monto').val(monto.toFixed(2));
            }

            $('#ArticuloId').change(function() {
                var selectedArticuloId = $(this).val();
                var articulo = articulos.find(a => a.articuloId == parseInt(selectedArticuloId));

                if (articulo) {
                    $('#CostoUnitario').val(articulo.costoUnitario);
                } else {
                    $('#CostoUnitario').val('');
                }
                updateMonto();
            });

            $('#Cantidad').on('input', function() {
                updateMonto();
            });

            $('#ArticuloId').trigger('change');
        });
    </script>
}


@section cp_style
                {
    <link href="~/cp/vendor/swiper/css/swiper-bundle.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.6.4/nouislider.min.css" rel="stylesheet">
    <link href="~/cp/vendor/datatables/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="~/cp/vendor/jvmap/jquery-jvectormap.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/buttons/1.6.4/css/buttons.dataTables.min.css" rel="stylesheet">
    <link href="~/cp/vendor/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <!-- tagify-css -->
    <link href="~/cp/vendor/tagify/dist/tagify.css" rel="stylesheet">
}

@section cp_script
{
    <!--**********************************
        Scripts
    ***********************************-->
    <script src="~/cp/vendor/global/global.min.js"></script>
    <script src="~/cp/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>

    <!-- Dashboard 1 -->
    <script src="js/dashboard/cms.js"></script>

    <!--nestable file-->
    <script src="~/cp/vendor/nestable2/js/jquery.nestable.min.js"></script>

    <!-- nestable plugins -->
    <script src="~/cp/js/plugins-init/nestable-init.js"></script>
    <script src="~/cp/js/custom.js"></script>
    <script src="~/cp/js/deznav-init.js"></script>
    <script src="~/cp/js/demo.js"></script>
   @*  <script src="~/cp/js/styleSwitcher.js"></script> *@
    }