@model ISO810_ComprasProject.Models.UnidadesMedida

@{
    ViewData["Title"] = "Delete";
}

<h3>¿Seguro desea eliminar este Proveedor?</h3>
<div>
    <h4>Unidades de Medida</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Activo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Activo)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="UnidadMedidaId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Vovler</a>
    </form>
</div>
